#htmlInput,
#htmlOutput {
  width: 50%;
  height: auto;
}

.title {margin: 1em;}

.container {
  padding: 1.0em 1.1em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.optionsArea {
  

  padding: 1em;
  border: 1px solid white;
}

.optionsArea label {
  padding-top: .41em;
  margin-top: .41em;
}
.optionsArea * {
  width:40%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.5rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}


@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}